option_settings:
  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: RollingUpdateEnabled
    value: true
  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: RollingUpdateType
    value: Health
  - namespace: aws:elasticbeanstalk:command
    option_name: DeploymentPolicy
    value: Rolling
  - namespace: aws:elasticbeanstalk:command
    option_name: BatchSizeType
    value: Fixed
  - namespace: aws:elasticbeanstalk:command
    option_name: BatchSize
    value: 1