option_settings:
  - namespace:  aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: stus
  - namespace:  aws:autoscaling:asg
    option_name: Availability Zones
    value: Any
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 2019
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "node ./dist/server/index.js"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:autoscaling:launchconfiguration
    option_name: IamInstanceProfile
    value: arn:aws:iam::722472279139:instance-profile/aws-elasticbeanstalk-ec2-role
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /health
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /static
    value: /static