option_settings:
  - namespace: aws:elasticbeanstalk:environment
    option_name: LoadBalancerType
    value: application
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: LoadBalanced
  - namespace: aws:elasticbeanstalk:environment
    option_name: ServiceRole
    value: aws-elasticbeanstalk-service-role
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value: /health
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthyThresholdCount
    value: 2